/* Carousel*/
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h4 {
  color: #ffffff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
}

.carousel a {
  margin: 0 auto;
}
